---
import SkillsAnimatedLoop from "./SkillsAnimatedLoop";
---

<section id="skills">
  <h2>Skills & Technologies</h2>
  <SkillsAnimatedLoop client:load />
</section>

<style>
  #skills {
    padding: 7rem 5rem;
    margin: 70px 0;
  }
  #skills {
    margin-top: 20px;
  }
</style>
